<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>无线水表采集收费管理系统</title>

    @using System.Web.Optimization;
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquerytools")
    @Styles.Render("~/Content/jquerytools")
    <link href="~/Content/css/login.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/demo.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all" />
    <!--常用的一些组件业务脚本函数,放置此处方便脚本提示-->
    <script src="~/Scripts/ComponentUtil.js"></script>

    <script type="text/javascript">
        //判断显示用户登录的时候显示整个页面
        if (window.parent.window != window) {
            window.top.location.href = "/Home/Index";
        }

        //当用户刷新页面触发的方法
        $(function () {
            //实现用户登录的方法
            LoginUserInfo();
            //单击的时候修改验证码的方法
            //ClickRemoveChangeCode();

            //BindReturnEvent();
            $(document).keyup(function (e) {
                if (e.keyCode == 13)
                    $("#btnLogin").click();
            })
        });

        function BindReturnEvent() {
            $("#Password").bind("enterKey", function (e) {
                $("#btnLogin").click();
            });
            $("#Password").bind("keyup", function (e) {
                console.log(e);
                if (e.keyCode == 13) {
                    $(this).trigger("enterKey");
                }
            }).bind("keydown", function (e) {
                console.log(e);
                if (e.keyCode == 13) {
                    $(this).trigger("enterKey");
                }
            });
        }

        //实现用户登录
        function LoginUserInfo() {
            //获取单击用户登录按钮的事件
            $("#btnLogin").click(function () {             
                var postData = {
                    UserName: $("#UserName").val(),
                    Password: $("#Password").val()                   
                };
                loading.show();

                //发送异步请求实现登录 ajax
                $.ajax({
                    type: 'POST',
                    url: '/Login/CheckUser_Server',
                    dataType: 'json',
                    cache: false,
                    data: postData,
                    success: function (data) {
                        if (data.IsSuccess) {
                            window.location.href = "/Home/Index";
                        }
                        else {
                            loading.hide();
                            showError("登陆失败：" + data.ErrorMsg, 3000);
                        }
                    },
                    error: function () {
                        loading.hide();
                        showError("登陆失败：网络超时!", 3000);
                    }
                });
            });
        }
    </script>
    <style type="text/css">
        .style1 {
            height: 5px;
        }

        .style3 {
            height: 6px;
        }

        .style4 {
            height: 43px;
        }

        .style5 {
            height: 18px;
        }
    </style>   
</head>
<body>
    <div id="divLoading"></div>
    <div id="divLoadingMsg">正在处理，请稍待。。。</div>
    <div class="header">
        <h1 class="headerLogo"><a title="无线水表采集收费管理系统"></a></h1>
        <div class="headerNav">
            <a target="_blank" href="http://www.rthitech.com.cn">融通官网</a>
            <a target="_blank" href="http://www.rthitech.com.cn/#">关于融通</a>
            <a target="_blank" href="http://www.rthitech.com.cn/Applications/Wireless_remote_meter_Solution.shtml">应用方案</a>
            <a target="_blank" href="http://www.rthitech.com.cn/ContactUs/Contacts.shtml">意见反馈</a>
        </div>
    </div>
    <div class="banner">
        <div class="login-aside">
            <div id="o-box-up"></div>
            <div id="o-box-down" style="table-layout:fixed;">
                <div class="error-box"></div>
                <form id="form1" class="registerform">
                    <div class="fm-item">
                        <label for="logonId" class="form-label">系统登陆：</label>
                        <input type="text" value="输入账号" maxlength="100" id="UserName" class="i-text">
                        <div class="ui-form-explain"></div>
                    </div>
                    <div class="fm-item">
                        <label for="logonId" class="form-label">登陆密码：</label>
                        <input type="password" value="" maxlength="100" id="Password" class="i-text">
                        <div class="ui-form-explain"></div>
                    </div>
                    <div class="fm-item">
                        <label for="btnLogin" class="form-label"></label>
                        <img id="btnLogin" class="btn-login" style="cursor:pointer">
                        <div class="ui-form-explain"></div>
                    </div>
                </form>
            </div>
        </div>
        <div class="bd">
            <ul>
                <li style="background:url(../../Content/themes/login/theme-pic1.jpg) #CCE1F3 center 0 no-repeat;"></li>
                <li style="background:url(../../Content/themes/login/theme-pic2.jpg) #BCE0FF center 0 no-repeat;"></li>
            </ul>
        </div>
        <div class="hd"><ul></ul></div>
    </div>

    <div class="footer">
        <p>Copyright &copy; 2019.rthitech All rights reserved.<a target="_blank" href="http://www.rthitech.com.cn"></a></p>
    </div>
</body>
</html>
